<div id=":89k">
    <div id=":89l">
        <div class="HOEnZb">
            <div class="im">
                <div>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <table cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    <table width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td width="80%"
                                                                    style="padding-left:130px;padding-right:5px">
                                                                    <h2> Nombre de mi empresa</h2>
                                                                </td>
                                                                <td width="20%">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><strong>Estado:</strong></p>
                                                </td>
                                                <td>
                                                    <p><span
                                                            style="color: {{color2}}; font-size:18px;">{{mensaje}}</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><strong>Servicio:</strong></p>
                                                </td>
                                                <td>
                                                    <p style="font-size:18px;">{{monitor}}</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><strong>Mensaje:</strong></p>
                                                </td>
                                                <td>
                                                    <p><span style="color:{{color}}; font-size:18px;">{{status}}</span>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <hr>
                                                    </hr>
                                                </td>
                                                <td>
                                                    <hr>
                                                    </hr>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><strong>Monitoreado desde:</strong></p>
                                                </td>
                                                <td>
                                                    <p>https://elastic.midomain.com</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>